*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.targeta{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.targeta1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 220px;
  max-width: 600px;
  background-color:rgba(201, 202, 211,0.3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
}

.name{
  text-align: center;
}
.datos{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

}
.datos1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.temp{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.targeta1 button{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body{
  background-image: url('../imagenes/despejado.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.load{
  width: 300px;
  height: 300px;
  border: 5px solid greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  border-right-color: darkblue ;
  animation: rotar 0.75s ease infinite;
  grid-row: 1/2;
  grid-column: 1/2;
}
.text{
  grid-row: 1/2;
  grid-column: 1/2;
  animation: opac 1s ease infinite;
}

.loading{
  display: grid ;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title{
  font-size: 2rem;
  font-weight: 500;
}
.subtitle{
  font-size: 1rem;
  font-weight: 400;
}

@keyframes rotar{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes opac{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

@media(max-width:384px){

  .datos{
   
    flex-direction: column;
  
  }
  
}